<%=link_to "Back to List", subjects_path %>
<div>
    <h1> Subject Delete</h1>
    <%= form_for(@subject, method: 'delete') do |f|%>
        <p? Are you sure you want to delete this subject?</p>
        <p> <%=f.object.name%></p>
        <div>   
            <%=f.submit("Update Subject")%>
        </div>
        <%end%>
</div>

